In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
text = pd.read_csv(r'C:/Users/Lenovo/Downloads/fct_sku_split_01_202108161011.csv')

In [7]:
text.head(5)

,brand_code,skc_code,size_code,product_yearquarter,big_class,mid_class,tiny_class,year_id,weeks_of_year,big_area,sale_qty
0,2,5H2401551001,1,2019Q2,JNBY,JNBY-下装,JNBY-下装-腰裙,2020,10,华东,1
1,2,5H2401551001,1,2019Q2,JNBY,JNBY-下装,JNBY-下装-腰裙,2020,15,华东,2
2,2,5H2401551001,1,2019Q2,JNBY,JNBY-下装,JNBY-下装-腰裙,2020,25,华东,4
3,2,5H2401551001,1,2019Q2,JNBY,JNBY-下装,JNBY-下装-腰裙,2020,26,华东,-5
4,2,5H2401551001,1,2019Q2,JNBY,JNBY-下装,JNBY-下装-腰裙,2020,32,华东,2

In [11]:
text[text['brand_code']==3]

,brand_code,skc_code,size_code,product_yearquarter,big_class,mid_class,tiny_class,year_id,weeks_of_year,big_area,sale_qty
823060,3,8I2210430125,3,2018Q2,CROQUIS饰品,CROQUIS饰品-饰品,CROQUIS饰品-饰品-包,2018,9,华东,2
823061,3,8I2210430125,3,2018Q2,CROQUIS饰品,CROQUIS饰品-饰品,CROQUIS饰品-饰品-包,2018,10,华中,7
823062,3,8I2210430125,3,2018Q2,CROQUIS饰品,CROQUIS饰品-饰品,CROQUIS饰品-饰品-包,2018,10,华北,6
823063,3,8I2210430125,3,2018Q2,CROQUIS饰品,CROQUIS饰品-饰品,CROQUIS饰品-饰品-包,2018,12,东北,2
823064,3,8I2210430125,3,2018Q2,CROQUIS饰品,CROQUIS饰品-饰品,CROQUIS饰品-饰品-包,2018,12,华南,3
...,...,...,...,...,...,...,...,...,...,...,...
1640022,3,RJ5632000505,2,2019Q2,CROQUIS,CROQUIS-可内可外,CROQUIS-可内可外-T恤,2021,18,华东,1
1640023,3,RJ5632000505,4,2019Q2,CROQUIS,CROQUIS-可内可外,CROQUIS-可内可外-T恤,2020,36,华东,1
1640024,3,RJ5632000505,5,2019Q2,CROQUIS,CROQUIS-可内可外,CROQUIS-可内可外-T恤,2020,19,华东,1
1640025,3,RJ5632000505,5,2019Q2,CROQUIS,CROQUIS-可内可外,CROQUIS-可内可外-T恤,2020,37,华东,1
1640026,3,RJ5632000505,5,2019Q2,CROQUIS,CROQUIS-可内可外,CROQUIS-可内可外-T恤,2021,22,华东,1

In [20]:
data_02 = text[text['brand_code']==2]

In [21]:
data_02.head(5)

,brand_code,skc_code,size_code,product_yearquarter,big_class,mid_class,tiny_class,year_id,weeks_of_year,big_area,sale_qty
0,2,5H2401551001,1,2019Q2,JNBY,JNBY-下装,JNBY-下装-腰裙,2020,10,华东,1
1,2,5H2401551001,1,2019Q2,JNBY,JNBY-下装,JNBY-下装-腰裙,2020,15,华东,2
2,2,5H2401551001,1,2019Q2,JNBY,JNBY-下装,JNBY-下装-腰裙,2020,25,华东,4
3,2,5H2401551001,1,2019Q2,JNBY,JNBY-下装,JNBY-下装-腰裙,2020,26,华东,-5
4,2,5H2401551001,1,2019Q2,JNBY,JNBY-下装,JNBY-下装-腰裙,2020,32,华东,2

In [24]:
data_02_size_code_dis = data_02.groupby('size_code').sum()['sale_qty']

In [25]:
data_02_size_code_dis

size_code
0       100
1    118878
2    625918
3    805011
4    505308
5    156767
Name: sale_qty, dtype: int64

In [26]:
data = pd.read_csv('C:/Users/Lenovo/Desktop/项目/江南布衣/临时输出/8.20/数据需求——全量数据08201329.csv')

In [27]:
data.count()

品牌代码          3332364
品牌名           3332364
商品年份          3332364
商品季           3332364
温带            3332364
门店等级          3332364
skc_code      3332364
color_code    3332364
color_name    3332364
band          3332364
big_class     3332364
mid_class     3332364
tiny_class    3332364
tag_price     3332364
销售年份          3332364
销售周           3332364
周销量            461366
有存门店数         1068432
有销天数           461366
有销门店数          461366
店效和           2032952
折扣             461366
库存量           1405930
累销            3332364
dtype: int64

In [28]:
data.head()

,品牌代码,品牌名,商品年份,商品季,温带,门店等级,skc_code,color_code,color_name,band,...,销售年份,销售周,周销量,有存门店数,有销天数,有销门店数,店效和,折扣,库存量,累销
0,2,JNBY,2018,Q4,东北,40万-50万,5I0311550965,965,黑白条/格,10-B,...,2018,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,JNBY,2019,Q4,华北,20万-30万,5J9221000058,58,绿灰白,9-B,...,2020,14,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0
2,2,JNBY,2019,Q4,华东,10万以下,5J9201810311,311,深军绿,9-B,...,2019,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,4,jnby by JNBY,2018,Q4,华中,20万-30万,1I0702150001,1,本黑,10-A,...,2018,52,3.0,4.0,3.0,2.0,0.150352,0.8,-2.0,154
4,2,JNBY,2018,Q4,华南,40万-50万,7I9210830725,725,向日葵黄,9-B,...,2018,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [32]:
data_JNBY= data[data['品牌名']=='JNBY']

In [34]:
data_JNBY_2018 = data_JNBY[data_JNBY['商品年份']==2018]

In [35]:
data_JNBY_2018.count()

品牌代码          1229256
品牌名           1229256
商品年份          1229256
商品季           1229256
温带            1229256
门店等级          1229256
skc_code      1229256
color_code    1229256
color_name    1229256
band          1229256
big_class     1229256
mid_class     1229256
tiny_class    1229256
tag_price     1229256
销售年份          1229256
销售周           1229256
周销量            152003
有存门店数          369413
有销天数           152003
有销门店数          152003
店效和            736548
折扣             152003
库存量            501763
累销            1229256
dtype: int64

In [36]:
data_JNBY_2019 = data_JNBY[data_JNBY['商品年份']==2019]

In [37]:
data_JNBY_2019.count()

品牌代码          1277388
品牌名           1277388
商品年份          1277388
商品季           1277388
温带            1277388
门店等级          1277388
skc_code      1277388
color_code    1277388
color_name    1277388
band          1277388
big_class     1277388
mid_class     1277388
tiny_class    1277388
tag_price     1277388
销售年份          1277388
销售周           1277388
周销量            206906
有存门店数          481483
有销天数           206906
有销门店数          206906
店效和            912636
折扣             206906
库存量            614765
累销            1277388
dtype: int64

In [38]:
data_tz = data[data['品牌名']=='jnby by JNBY']

In [39]:
data_tz_2018 = data_tz[data_tz['商品年份']==2018]

In [40]:
data_tz_2019 = data_tz[data_tz['商品年份']==2019]

In [41]:
data_tz_2018.count()

品牌代码          371952
品牌名           371952
商品年份          371952
商品季           371952
温带            371952
门店等级          371952
skc_code      371952
color_code    371952
color_name    371952
band          371952
big_class     371952
mid_class     371952
tiny_class    371952
tag_price     371952
销售年份          371952
销售周           371952
周销量            45742
有存门店数          86506
有销天数           45742
有销门店数          45742
店效和           170989
折扣             45742
库存量           119383
累销            371952
dtype: int64

In [42]:
data_tz_2018.to_excel(r'C:\Users\Lenovo\Desktop\项目\江南布衣\临时输出\8.20\童装_2018.xlsx',sheet_name='童装2018')

In [43]:
data_tz_2019.to_excel(r'C:\Users\Lenovo\Desktop\项目\江南布衣\临时输出\8.20\童装_2019.xlsx',sheet_name='童装2019')