In [1]:
import pandas as pd

In [10]:
from scipy.interpolate import lagrange
data = pd.read_excel(r'G:/数据分析/python数据分析与挖掘/Python数据分析与挖掘实战/chapter6/test/data/missing_data.xls',header=None)

In [24]:


#定义插值函数,取值时数据范围不能超过data的边界
def insert_value(s, n, k=5):
    if n >= 5 and n+k+1 < len(s):
        y = s[list(range(n-k,n))+list(range(n+1,n+k+1))]
        y = y[y.notnull()]
        return lagrange(y.index, list(y))(n)
    elif n < 5:
        y = s[list(range(0,n))+list(range(n+1,n+k+1))]
        y = y[y.notnull()]
        return lagrange(y.index, list(y))(n)
    elif n+k+1 >= len(s):
        y = s[list(range(n-k,n))+list(range(n+1,len(s)))]
        y = y[y.notnull()]
        return lagrange(y.index, list(y))(n)
    
    
for i in data.columns:
    for j in range(len(data)):
        if data[i].isnull()[j]:
            data[i][j] = insert_value(data[i],j)

data.to_excel(r'G:/数据分析/python数据分析与挖掘/Python数据分析与挖掘实战/chapter6/test/data/lagrange_result.xlsx',header=None,index=False)

In [16]:
data[1][0]

324.0343

             0         1         2
0   235.833300  324.0343  478.3231
1   236.270800  325.6379  515.4564
2   238.052100  328.0897  517.0909
3   235.906300       NaN  514.8900
4   236.760400  268.8324       NaN
5   234.544572  404.0480  486.0912
6   237.416700  391.2652  516.2330
7   238.656300  380.8241       NaN
8   237.604200  388.0230  435.3508
9   238.031300  206.4349  487.6750
10  235.072900       NaN       NaN
11  235.531300  400.0787  660.2347
12  233.171011  411.2069  621.2346
13  234.468800  395.2343  611.3408
14  235.500000  344.8221  643.0863
15  235.635400  385.6432  642.3482
16  234.552100  401.6234       NaN
17  236.000000  409.6489  602.9347
18  235.239600  416.8795  589.3457
19  235.489600       NaN  556.3452
20  236.968800       NaN  538.3470

In [22]:
for i in data.columns:
    for j in range(len(data)):
        if data[i].isnull()[j]:
            print(i,j)

1 3
1 10
1 19
1 20
2 4
2 7
2 10
2 16

In [28]:
from random import shuffle

filepath = r'G:/数据分析/python数据分析与挖掘/Python数据分析与挖掘实战/chapter6/test/data/model.xls'
data = pd.read_excel(filepath)
data = data.values
shuffle(data)

p = 0.8
train_data = data[:int(len(data)*p),:]
test_data = data[int(len(data)*p):,:]

In [30]:
#构建LM神经网络模型

from keras.models import Sequential
from keras.layers.core import Dense, Activation

netfile =

array([[4, 1, 1, 1],
       [4, 0, 4, 1],
       [2, 1, 1, 1],
       ...,
       [5, 1, 2, 1],
       [2, 1, 0, 0],
       [4, 1, 0, 0]], dtype=int64)